name: Update DestRepo M3U
on:
  # schedule:
    # - cron: '0 * * * *' # Every hour
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ControlRepo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run Script
        run: python generate_m3u.py

      - name: Deploy to DestRepo
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.PAT_FG_SYNC }}
        with:
          source-directory: '.'
          destination-github-username: 'AmSin1'
          destination-repository-name: 'Repo'
          target-branch: 'autocopied'
          target-directory: ''
          user-email: github-actions[bot]@users.noreply.github.com
          commit-message: 'Update M3U from JSON source'
          file-selection: 'playlist.m3u'
